<br><br><h1 style="text-align:center">Playlists by</h1>
<h3 style="text-align:center"><%=current_user.username%></h3>
<%=flash[:message]%>


<table style="text-align:center">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Playlist Creator</th>
    <th></th>
    <th></th>
  </tr>
 
<% @playlists.each do |plist| %>
  <tr>
    <td><%= link_to "#{plist.title}", playlist_path(plist) %></td>
    <td><%= plist.description %></td>
    <td>by <%=current_user.username%></td>
    <td><%= link_to "Show", playlist_path(plist) %></td>
    <td><%= link_to "Edit", edit_playlist_path(plist) %></td>
    <td><%= link_to "Remove", playlist_path(plist), method: :delete, data: { confirm: "Are you sure?" } %></td>
  </tr>
<% end %>
</table>
 