<br><br><strong>Listing all Playlists by <%=current_user.username%></strong> 
<%=flash[:message]%>
<% current_user.playlists.each do |playlist|%>
    <ul>
    <li>
        <%= playlist.title%><br>
        <%= playlist.description%> by <%=current_user.username%>
    </li>
    </ul>
<% end %>
