
          <h4>Search by Playlist</h4>
            <%= form_tag(playlists_path, method: :get) do %>
            <%= text_field_tag(:search, params[:search]) %>
            <%= submit_tag ("Search") %>
            <% end %>
<br><br>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>User</th>
    <th>Reviews Amt</th>
    <th></th>
    <th></th>
  
<% @playlists.each do |plist| %>
  <tr>
    <td><%= link_to "#{plist.title}", playlist_path(plist) %></td>
    <td><%= plist.description %></td>
    <td>by <%= plist.user.username %></td>
    <td><%= plist.reviews.size%><td>
  </tr>
<% end %>
</table>


