
<br><br>
<%= link_to "See all Reviews", playlist_reviews_path(@playlist)%> |
<%= link_to "Put in a new Reviews", new_playlist_review_path(@playlist)%><br>

<h1>Playlist Title: <%= @playlist.title %></h1>
<h2>Current User: <%= current_user.username %><br><br>

<div>Playlist Description: <%= @playlist.description %></div>

<p>Reviewed Playlist Comment(s) <%=@review%> </p>
<h4>REVIEWED PLAYLISTS:</h4>
<% @playlist.reviews.each do |review| %>
      <%=link_to "reviewed playlists", playlist_review_path(review)%>
    
<% end %>