<!DOCTYPE html>
<html>
  <head>
    <title>MyPlaylistReview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<br><br>
      
      
     
      <div>
         <div style="text-align:center">  
         
        <% if logged_in? %>
          <br><strong>Hi <%=current_user.username%>!!</strong><br><br>
          <%= link_to "Create Playlist", new_playlist_path %>  |
          <%= link_to "View ALL Playlists", playlists_path %>  |
          <%= link_to "Add Your Review", new_review_path %>  |
          <%= link_to "Read Your Completed Reviews!", reviews_path%>  | 
          <%= link_to "Log Out", logout_path, method: "delete"%>

        <% else %>
          <%= link_to "Sign Up", '/signup'%><br>  
          <%= link_to "Log In", '/login'%><br>
          <%= link_to "Google Log In Here", '/auth/google_oauth2', method: :post%><br>
        <% end %>

          </div>
      </div>


    <% if flash[:message] %>
      <div class="field_with_errors"><%= flash[:message] %></div>
    <% end %>
    <br><br>
    <p style="text-align:center">
    <%= image_tag("logos/Hermes.jpeg", width: '100px')%>
    </p>


    <%= yield %>
  </body>
</html>
